<div class="row"><div class="proyecto-tittle">
    <h1>Proyectos Realizados</h1>
</div>

<a class="btn btn-primary" routerLink="/proyects/new"><fa-icon [icon]="faPlus" class="me-2"></fa-icon>Nuevo Proyecto</a>  
<ng-container *ngFor="let proyects of items$|async">
    <div  *ngIf="loggedIn" class="container">
        <!-- Text -->
            <div class="col-sm-12 col-md-7 col-lg-7 texto-container">
                <h3 class="conteiner-tittle">{{proyects.name}}</h3>
                <p class="container-description">{{proyects.description}}</p>
            </div>
            <!-- IMG -->
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 imagen-conteiner">
                <img src="{{proyects.photo}}" alt="" class="img-proyecs">
            </div>
        </div>
        <div *ngIf="loggedIn" class="col p-3">
            <a class="btn btn-primary me-3" [routerLink]="['/proyects', proyects.id, 'edit']"><fa-icon [icon]="faEdit" class="me-2"></fa-icon>Editar</a>
            <button  class="btn btn-danger"  type="button" (click)="delete(proyects.id)"><a ><fa-icon [icon]="faTrash" class="me-2"></fa-icon></a> Borrar</button>      
          </div>  








</ng-container>
