.banerestudios{
    background-image:url(../../../assets/estudios-banners.jpg);
    background-position: center;
     background-repeat: no-repeat;
     background-size:cover;  
     width: 100%;
     height: 440px;
     
    }
    .font-weight-light{
        font-style: italic;
        font-family: auto;
        color: antiquewhite;
        font-size: 3rem; 
        text-align: center;   
        padding: 20px; 
}
.img{
    width: 304px;
    height: 304px;
}
.estudios-conteiner{
    padding: 10px;
    background-color:#00010108;
}
template{
    background-color: black;
}