<div class="social-container">
    <p class="sigueme">Sigueme en mis redes!</p>
    <a href="https://www.facebook.com"> <img src="../../../assets/facebook.png" alt="" class="social-icon"> </a>
    <a href="https://github.com"> <img src="../../../assets/github.png" alt="" class="social-icon"> </a>
    <a href="https://www.instagram.com"> <img src="../../../assets/instagram.png" alt="" class="social-icon"> </a>
    <a href="https://ar.linkedin.com"> <img src="../../../assets/linkedin.png" alt="" class="social-icon"> </a>
</div>