<div class="row">
  <h1>Hard & Soft Skills</h1>

  <div   class="container">
    <div  class="row row-cols-1 row-cols-md-8 g-8">
      <div class="row row-cols-1 row-cols-md-8 g-8"*ngIf="loggedIn" >
        <a class="btn btn-primary" routerLink="/skills-profiles/new"><fa-icon [icon]="faPlus" class="me-2"></fa-icon>Nuevo skill</a>    
      </div>
      <ng-container *ngFor="let skill of items$|async"> 
        <div class="text-center col-sm-4 col-mg-4 col-lg-4">
          <circle-progress
          [percent]="skill.percentage"
          [radius]="100"
          [showUnits]="false"
          [showSubtitle]="false"
          imageSrc="{{skill.icon}}"
          [imageHeight]="90"
          [imageWidth]="90"
          [showImage]="true"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="skill.color"
          [innerStrokeColor]="'orange'"    
          [animation]="true"
          [animationDuration]="3300"
          ></circle-progress>
          <p style="color: antiquewhite;">{{skill.name}}</p><br>
          <div  *ngIf="loggedIn" skills-profiles class="col p-3">
            <a class="btn btn-primary me-3" [routerLink]="['/skills-profiles', skill.id, 'edit']"><fa-icon [icon]="faEdit" class="me-2"></fa-icon>Editar</a>
            <button  class="btn btn-danger"  type="button" (click)="delete(skill.id)"><a ><fa-icon [icon]="faTrash" class="me-2"></fa-icon></a> Borrar</button>      
          </div>    
        </div>
      </ng-container>
    </div>
  </div>
  