<div class="row">
  <h1>Hard & Soft Skills</h1>

  <div class="text-center col-sm-4 col-mg-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    imageSrc="../../../assets/html.png"
    [imageHeight]="90"
    [imageWidth]="90"
    [showImage]="true"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'orange'"
    
    [animation]="true"
    [animationDuration]="3300"
    ></circle-progress>
    <p>Idiomas</p>
    </div>

    <div class="text-center col-sm-4 col-mg-4 col-lg-4">
      <circle-progress
      [percent]="90"
      [radius]="100"
      [showUnits]="false"
      [showSubtitle]="false"
      imageSrc="../../../assets/cssicon2.png"
      [imageHeight]="90"
      [imageWidth]="90"
      [showImage]="true"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      
      [animation]="true"
      [animationDuration]="3300"
      ></circle-progress>
      <p>Idiomas</p>
      </div>

      <div class="text-center col-sm-4 col-mg-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        imageSrc="../../../assets/JSnofondo2.png"
        [imageHeight]="90"
        [imageWidth]="90"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'yellow'"
        
        [animation]="true"
        [animationDuration]="3300"
        ></circle-progress>
        <p>Idiomas</p>
        </div>

        <div class="text-center col-sm-4 col-mg-4 col-lg-4">
          <circle-progress
          [percent]="90"
          [radius]="100"
          [showUnits]="false"
          [showSubtitle]="false"
          imageSrc="../../../assets/angular-icon.png"
          [imageHeight]="90"
          [imageWidth]="90"
          [showImage]="true"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'red'"
          [innerStrokeColor]="'red'"
          
          [animation]="true"
          [animationDuration]="3300"
          ></circle-progress>
          <p>Idiomas</p>
          </div>

          <div class="text-center col-sm-4 col-mg-4 col-lg-4">
            <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            imageSrc="../../../assets/cSharp.png"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'violet'"
            [innerStrokeColor]="'violet'"
            
            [animation]="true"
            [animationDuration]="3300"
            ></circle-progress>
            <p>Idiomas</p>
            </div>

            <div class="text-center col-sm-4 col-mg-4 col-lg-4">
              <circle-progress
              [percent]="90"
              [radius]="100"
              [showUnits]="false"
              [showSubtitle]="false"
              imageSrc="../../../assets/giticon.png"
              [imageHeight]="90"
              [imageWidth]="90"
              [showImage]="true"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'green'"
              [innerStrokeColor]="'green'"
              
              [animation]="true"
              [animationDuration]="3300"
              ></circle-progress>
              <p>Idiomas</p>
            </div>


</div>
