<section class="vh-100" style="background-image:url(../../../assets/banner2.jpg)">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-12 col-xl-12">
                <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: black;">
                    <div class="alert alert-danger">
                        <strong>Pagina no encontrada!</strong> La pagina no pudo cargarse con exito.
                    </div>
                    <div class="image">
                        <img class="img-fluid" src="../../../assets/not_found-removebg-preview.png" alt="">
                    </div>
                    <div class="col-12" style="text-align: end;">
                        <a style="background-color:#32bae56e" class="btn btn-success" routerLink="/home"
                            role="button"><strong>volver a la pagina principal</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>