<ng-container *ngIf="profile$|async as profile">
    <app-header ></app-header>
    <app-acerca-de 
    [loggedIn]="loggedIn$|async"
    [name]="profile.name"
    [tittle]="profile.tittle"
    [description]="profile.description"
    [photo]="profile.photo">
</app-acerca-de>
    <app-estudios [loggedIn]="loggedIn$|async"></app-estudios>
    <app-skils [loggedIn]="loggedIn$|async"></app-skils>
    <app-proyectos [loggedIn]="loggedIn$|async"></app-proyectos>
    <app-footer
    [loggedIn]="loggedIn$|async"
    [gitHub]="profile.gitHub"
    [linkedIn]="profile.linkedIn"></app-footer> 
</ng-container>