.foto{
height: 37vh;
    width: 37vh;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 14px;

}
.fondo{
    background-image:url(../../../assets/FondoPage.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
     background-attachment: fixed;
}

