.card {
    background-color: rgba(231, 223, 223, 0.356);
}

.h1,
h1 {
    text-align: left;
    color: antiquewhite;
}

.blockquote-footer,
p {
    color: antiquewhite;
}

.navbar {
    background-image: url(../../../assets/FondoPage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 79vh;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

